.container {
  background: url("../../../public/images/background.png") repeat-x center
    center fixed;
  min-height: 100vh;
  display: flex;
  flex: 1;
  overflow-y: hidden;
  justify-content: space-between;
  padding: 4%;
}
