@import "../../../../../styles/variables.scss";

.listing {
  background: white;
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  position: relative;
  &:first-child {
    margin-top: 0;
  }
}

.listingLeft {
  width: 60%;
}

.listingImage {
  background: 50% / cover no-repeat;
  height: 100%;
}

.listingRight {
  width: 40%;
  padding: 2%;
  p {
    margin-bottom: 6px;
  }
}

.listingTitle {
  margin-bottom: 8px;
}

.listingLocationText {
  color: $lightGray;
  margin: 0;
  font-size: 13px;
}

.listingButton {
  margin-top: 24px;
}

.listingButtonPrice {
  font-size: 24px;
  font-weight: bold;
  display: block;
}

.listingRating {
  margin: 12px 0;
  svg {
    color: $primary-bg-color;
  }
}

.listingReadMore {
  color: $primary-text-color;
  position: absolute;
  bottom: 0;
  background: white;
  padding: 12px 24px;
  cursor: pointer;
  width: 240px;
}

.listingReadMoreIcon {
  font-weight: bold;
  position: absolute;
  right: 12px;
}

.listingContent {
  width: 100%;
  background: white;
  flex: 1;
  padding: 24px;
}
.listingContentTitle {
  margin-bottom: 8px;
}
